<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="sidebar(active)"
     class="sidebar">

    <h2 class="logo">🎬 Admin Panel</h2>

    <nav>
        <a th:classappend="${active == 'dashboard'} ? 'active'"
           href="#">Tổng quan</a>

        <a th:classappend="${active == 'movies'} ? 'active'"
           href="#">Quản lý phim</a>

        <a th:classappend="${active == 'branches'} ? 'active'"
           th:href="@{/branches}">Quản lý rạp</a>

        <a th:classappend="${active == 'shows'} ? 'active'"
           href="#">Quản lý suất chiếu</a>

        <a th:classappend="${active == 'tickets'} ? 'active'"
           href="#">Quản lý đặt vé</a>

        <a th:classappend="${active == 'reports'} ? 'active'"
           href="#">Báo cáo & Thống kê</a>
    </nav>

</div>

</body>
</html>
