<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Cinema Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/movies}">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/showtimes}">Showtimes</a>
                </li>

                <!-- Unauthenticated: show Login link -->
                <li class="nav-item" th:if="${user == null}">
                    <a class="nav-link" th:href="@{/auth/login}">Login</a>
                </li>

                <!-- Authenticated: show user dropdown -->
                <li class="nav-item dropdown" th:if="${user != null}">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span th:text="${user.fullName}">User</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li>
                            <a class="dropdown-item" th:href="@{/profile}">
                                My Profile
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/my-bookings}">
                                My Bookings
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item text-danger" th:href="@{/auth/logout}">
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
