<div class="row">
    <b>Full Name:</b>
    <span th:text="${user.fullName}"></span>
</div>

<div class="row">
    <b>Email:</b>
    <span th:text="${user.email}"></span>
</div>

<div class="row">
    <b>Phone:</b>
    <span th:text="${user.phone}"></span>
</div>

<div class="row">
    <b>Role:</b>
    <span th:text="${user.role}"></span>
</div>

<div class="row">
    <b>Status:</b>
    <span th:text="${user.status}"></span>
</div>

<div class="row">
    <b>Created At:</b>
    <span th:text="${user.createdAt}"></span>
</div>
