<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý suất chiếu</title>

    <link rel="stylesheet" th:href="@{/styles/admin-branch.css}">
    <link rel="stylesheet" th:href="@{/styles/admin-showtime.css}">
</head>

<body>

<div class="layout">

    <div th:replace="fragments/sidebar :: sidebar('showtimes')"></div>

    <main class="content">

        <div class="header">
            <div>
                <h1>Quản lý suất chiếu</h1>
                <p>Thêm, sửa, xóa lịch chiếu phim</p>
            </div>

            <a href="/admin/showtimes/create" class="btn-add">
                + Thêm suất chiếu
            </a>
        </div>

        <form method="get" action="/admin/showtimes">

            <select name="branchId">
                <option value="">-- Chọn rạp --</option>
                <option th:each="b : ${branches}"
                        th:value="${b.branchId}"
                        th:text="${b.branchName}">
                </option>
            </select>

            <input type="date" name="date">

            <button type="submit">Lọc</button>

        </form>

        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Phim</th>
                    <th>Rạp chiếu</th>
                    <th>Phòng</th>
                    <th>Ngày</th>
                    <th>Giờ Bắt đầu</th>
                    <th>Giờ Kết thúc</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="s : ${showtimes}">

                    <td>
                        <div class="movie-cell">
<!--                            <img th:src="${s.movie.posterUrl}" alt="poster">-->
                            <div>
                                <div class="movie-name"
                                     th:text="${s.movie.title}">Movie</div>
                                <div class="movie-duration"
                                     th:text="${s.movie.duration + ' phút'}"></div>
                            </div>
                        </div>
                    </td>

                    <td th:text="${s.room.branch.branchName}">CGV</td>

                    <td th:text="${s.room.roomName}">Phòng 1</td>

                    <td th:text="${#temporals.format(s.startTime, 'dd/MM/yyyy')}"></td>

                    <td>
                        <span class="time-badge"
                              th:text="${#temporals.format(s.startTime, 'HH:mm')}">
                        </span>
                    </td>

                    <td>
                        <span class="time-badge"
                              th:text="${#temporals.format(s.endTime, 'HH:mm')}">
                        </span>
                    </td>


<!--                    <td>-->
<!--                        <span class="seat-badge"-->
<!--                              th:text="${s.availableSeats + '/' + s.room.capacity}">-->
<!--                            45/100-->
<!--                        </span>-->
<!--                    </td>-->

                    <td>
                        <span th:text="${s.status}"
                              th:classappend="
                                ${s.status.name() == 'open'} ? 'status-open' :
                                (${s.status.name() == 'closed'} ? 'status-closed' :
                                (${s.status.name() == 'cancelled'} ? 'status-cancel'))
                              ">
                        </span>
                    </td>

                    <td>
                        <button type="button"
                                th:attr="onclick='openEditModal(' + ${s.showtimeId} + ')'"class="edit-link"
                                title="Chỉnh sửa">
                            <img th:src="@{/images/edit.png}"
                                 alt="edit"
                                 class="edit-icon">
                        </button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

    </main>
</div>

<div id="overlay"></div>

<div id="editModal">
    <input type="hidden" id="editId">

    <label>Status:</label>
    <select id="editStatus">
        <option value="open">Open</option>
        <option value="closed">Closed</option>
        <option value="cancelled">Cancelled</option>
    </select>

    <br><br>
    <button onclick="submitEdit()">Save</button>
    <button onclick="closeModal()">Cancel</button>
</div>

<script>
    function openEditModal(id) {
        fetch(`/admin/showtimes/${id}`)
            .then(res => {
                if (!res.ok) {
                    return res.text().then(text => {
                        console.error("Response lỗi:", text);
                        throw new Error("API lỗi");
                    });
                }
                return res.json();
            })
            .then(data => {
                console.log("DATA:", data);

                document.getElementById("editId").value = data.showtimeId;
                document.getElementById("editStatus").value = data.status;

                document.getElementById("editModal").style.display = "block";
            })
            .catch(err => {
                console.error(err);
                alert("Không load được dữ liệu!");
            });
    }

    function closeModal() {
        document.getElementById("editModal").style.display = "none";
        document.getElementById("overlay").style.display = "none";
    }

    function submitEdit() {
        const id = document.getElementById("editId").value;
        const status = document.getElementById("editStatus").value;

        fetch('/admin/showtimes/update-status', {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: "id=" + id + "&status=" + status
        })
            .then(() => {
                alert("Cập nhật thành công");
                location.reload();
            });
    }
</script>

</body>
</html>